services:
  fe-rdz-th:
    build:
      context: .
      dockerfile: Dockerfile
    image: riankurniawan/fe-rdz-th:latest
    container_name: fe-rdz-th
    restart: always
    ports:
      - 4174:80
    env_file:
      - .env
    environment:
      - TZ=Asia/Jakarta
    networks:
      - rdz-th-network

networks:
  rdz-th-network:
    driver: bridge
